h1, h2, ul, li, .links, p {
    font-family:"lucida handwriting";
    text-align: center;
    
}
body{
    background-image: url("images/Subtle-Dots-White-Tileable-pattern.jpg");
    
}
ul{
    list-style-type: none;
}
